.faq
    max-width: 1220px
    width: 100%
    margin: 0 auto
    padding-bottom: 50px
    padding-bottom: 50px
    .drop-menu
        &__sub-info
            color: #000
            font-size: 25px
            font-weight: 500

            overflow: hidden
            height: 0px
            transition: height .7s ease-in-out

    &__item 
        position: relative
        cursor: pointer
        display: flex
        flex-direction: column
        // align-items: center
        border-radius: 20px
        background: #F8F0EF
        padding: 30px 30px
        padding-right: 76px
        color:  $main-font-color
        font-size: 30px
        font-weight: 600

        
        .arrow
            position: absolute
            right: 30px
            transition: all 0.5s ease-in-out
    &.faq__mainText
        padding: 10px 0

    &__list
        margin-top: 40px
        display: flex
        flex-direction: column
        gap: 20px  
        input
            visibility: hidden
            display: none
            &:checked ~ label> .drop-menu__sub-info
                height: 100px !important
                // padding-top: 10px
            &:checked ~ label> .arrow
                transform: scaleY(-1)
@media (max-width: 1445px) 
    .faq
        max-width: 900px
@media (max-width: 769px) 
    .faq
        &__item
            font-size: 25px
        &__list
            input
                &:checked ~ label> .drop-menu__sub-info
                    height: 200px !important
                    // padding-top: 10px
@media (max-width: 529px) 
    .faq
        &__list
            input
                &:checked ~ label> .drop-menu__sub-info
                    height: 320px !important
                    // padding-top: 10px
@media (max-width: 529px) 
    .faq
        &__item
            padding: 40px 20px
            padding-right: 60px
        &__list
            input
                &:checked ~ label> .drop-menu__sub-info
                    height: 400px !important
                    // padding-top: 10px